.divider{
    display: flex  !important;
    flex-direction: row;
}

.loginDivider{
    background-color: #9fc7fd;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    background-color: 	#FFFFFF;
    width: 30vw;
    height: 50vh;
    margin: 0 auto;
    top: 50%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#textInput{
    width: 15rem;
    padding: 12px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

#passwordInput{
    width: 15rem;
    padding: 12px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.labels{
    align-self: left !important;
}

.grey-text{
    padding-top: 1rem;
}

.registerCard{
    background-color: 	#FFFFFF;
    width: 30vw;
    height: 85vh;
    margin: 0 auto;
    top: 50%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}