.layout {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

.carousel{
	display: flex;
	align-items: center;
}

.chartContainer {
	background-color: #BEE2FF;
	margin: 3rem;
	margin-top: 4rem;
	/* border-color: black;
	border-width: medium;
	border-style: solid; */
	width:40vw;
	height: 50vh;
	text-align: center;
}

.rollingSections{
	display: flex !important;
	flex-direction: column;
}

.rollingComplaint{
	width:40vw;
	height: 60vh;
	background-color:#BEE2FF;
	margin: 3rem;
}