.layout {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

.chartContainer {
	background-color: white;
	margin: 3rem;
	margin-top: 5rem;
	border-color: black;
	border-width: medium;
}

.chartjs-render-monitor {
	width: 40vw;
}
