.complain-card{
    text-align: left;
}
#card{
    width: 90vw;
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.lable{
    color: black;
}

#card:hover{
    box-shadow: 0 0 18px rgba(33,33,33,.2); 
}