.main-card{
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}
#complaint-card{

    padding: 1rem 5rem;
    border-radius: 2px;
}

.vote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -25px;
} 

.vote.on {
    background-position: 0 2px;
}


#description{
    border-radius: 5px;
    border-color: black;
    border-width: thin;
    margin-left: 3rem;
}

.complain-input{
    margin-bottom: 0px !important; 
    margin-left: 3rem;
}

#complaint-type{
    margin-bottom: 0px !important; 
    margin-left: 3rem;
}

.table td, .table th{
    vertical-align: middle;
}
table{
    text-align: left;
}

th{
    text-align: center;
    vertical-align: middle !important;
}

#existing-complaints{
    text-align: center;
}