.main-card{
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}
.complaint-card{

    padding: 1rem 5rem;
    border-radius: 2px;
    background-color:rgb(0, 0, 0, 0.9);
}

#description{
    border-radius: 5px;
    border-color: black;
    border-width: thin;
    margin-left: 3rem;
}

.complain-input{
    margin-bottom: 0px !important; 
    margin-left: 3rem;
}

#complaint-type{
    margin-bottom: 0px !important; 
    margin-left: 3rem;
}

.table td, .table th{
    vertical-align: middle;
}
table{
    text-align: left;
}

th{
    text-align: center;
}
