.main-card{
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}
.complaint-card{
    
    padding: 1rem 5rem;
    border-radius: 2px;
    background-color: #DBDBDF;
}

#description{
    border-radius: 5px;
    border-color: black;
    border-width: thin;
}

