.progress-div {
	margin-top: 2rem;
	display: flex;
}
.status {
	margin-top: 2rem;
	display : flex;
	flex-direction: row;
}
.ress-div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.description-div{
	width: 70%;
	margin-top: 2rem;
}
#mapDiv{
	width: 100vw
}